body{
    margin: 0;
    padding: 0;
}
.containter{
    display: flex;
}
*{
  box-sizing: border-box;
}
.left{
    width: 15%;
    padding: 30px;
    background: rgb(216, 204, 37);
}
.right{
    width: 85%;
    padding: 30px;
    background:white; 
    border: 1px solid rgb(197, 226, 56);
}
h1,h4{
    text-align: center;
}
.menu{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.menu li {
  padding: 10px 0;
  border-bottom: 1px solid #000;
}
ul.menu li a{
  color: #fff;
  cursor: pointer;
  padding: 10px;
}
.selected{
  background: rgb(151, 189, 36);
}
label {
  display: inline-block;
  width: 150px;
  text-align: left;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  td, th {
    border: 1px solid #7e8262;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #caefc8;
  }
  tr:nth-child(odd) {
    background-color: #c76c12;
  }
  .price{
    text-align: center;
  }
  .addfood{
    display: none;
  }
  .delete-product{
    cursor: pointer;
  }
  .Edit-product{
    cursor: pointer;
  }
 